<table class="table">
	<thead>
		<tr>
			<th>
				Tweets
			</th>
			<th>
				Following
			</th>
			<th>
				Follwers
			</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>
			<%= link_to @current_user.tweets.count, tweets_path, remote: true %>
		</td>
		<td>
			<%= link_to @current_user.follow_count, connections_path, remote: true %>
		</td>
		<td>
			<%= link_to @current_user.followers_count, follower_connection_path(@current_user.id), remote: true %>
		</td>
	</tr>
	</tbody>
</table>