<div> <b> Tweets </b></div> <hr/>
<% unless @tweets.empty? %>    
  <% @tweets.each do |tweet| %>
	  <div> 
      <% avatar_url = tweet.user.avatar? ? tweet.user.avatar_url(:thumb) : "../assets/default_profile_6_bigger.png" %>
      <%=link_to image_tag(avatar_url, class: "profile-photo", align: "middle", alt: "Profile Pics"), edit_profile_path(tweet.user.id) %>
	    <span style="margin-left: 10px;"> <b> Bapu Labade </b> (@bapulabade) </span>
	  </div>
	  <div>
      <p> <%= tweet.content %> </p>
	  </div>
	  <hr/>
  <% end %>
<% end %>