<div class="jumbotron">
<!--   <h2>Welcome</h2> -->
  <p class="lead"><h2>Welcome to my twitter netwrok</h2></p>

 <!--  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign in to Twitter</a></p> -->

  <p><%=link_to "Sign in to Twitter", new_user_session_path, class: "btn btn-lg btn-success"%> </p>
  
  <!-- <p><a class="btn btn-lg btn-success sign_up" href="#" role="button">Sign up today</a> <span id="question">New to Twitter? </span></p>
 -->
  <p><%= link_to "Sign up today", new_user_registration_path, class: "btn btn-lg btn-success sign_up"%><span id="question">New to Twitter? </span></p>
</div>