<div class="container-fluid">
	<div class="row">
	  <div class="col-md-3 profile-detail">
	    
	    <div class="well">
			  <span id="about-img">
			    <img class="profile-photo" align="middle" src="../assets/default_profile_6_bigger.png" alt="Profile Pics">
			    <span style="margin-left: 10px;"> <b> Bapu Labade </b> (@bapulabade) </span>
			  </span>
			  <div>
				  <table class="table">
		        <thead>
		        	<tr>
		        		<th>
		        			Tweets
		        		</th>
		        		<th>
		        			Following
		        		</th>
		        		<th>
		        			Follwers
		        		</th>
		        	</tr>
		        </thead>
		        <tbody>
		        <tr>
		        	<td>
		        		1
		        	</td>
		        	<td>
		        		100
		        	</td>
		        	<td>
		        		12
		        	</td>
		        </tr>
		        </tbody>
		      </table>
		    </div>
      </div>
      <div>
      	 <input type="textarea" class="form-control" id="tweet-content" placeholder="Compose New tweet">
      </div><br/>
      <div class="well trends">
        Trends·
      </div>
	  </div>
	  <div class="col-md-5 well tweets">.col-md-4</div>
	  <div class="col-md-3 well followers-details">cacsc</div>
	</div>
</div> <!-- /container -->
